.sec-number{
    display: flex;
    justify-content: space-around;
}

.number{
    background-color: #7BB0A6;
    height: 80%;
    width: 80%;
    font-size: 102px;
    color: #D4D4D4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}